{
  "extends": "stylelint-config-recommended",
  defaultSeverity: "error",
  "plugins": [ "stylelint-order" ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "at-rule-no-unknown": [
      true, {
        "ignoreAtRules": ["extend", "mixin", "include", "each", "if", "function", "return", "for", "else"]
      }
    ]
  }
}
