html {
  font-size: 16px;
}

body {
  font-family: $font-family;
  font-size: 1rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: none;
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
}
