// Storybook variables

// Colors
$color-black: #000;
$color-gray-100: #333;
$color-gray-200: #666;
$color-gray-300: #999;
$color-gray-400: #ccc;
$color-gray-500: #eee;

$color-code: #e01e5a;

// Typography
$font-family: 'Rubik', 'Arial', sans-serif;
