// Typography
// --------------
$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;

$font-weight-normal: 400 !default;
$font-weight-light: 300 !default;
$font-weight-bold: 700 !default;

$letter-spacing: 0.03em !default;

$line-height: 1.5 !default;
// --------------

// Breakpoints
// --------------
// Screen breakpoints
$bp-xs: 576px !default;
$bp-md: 768px !default;
$bp-lg: 992px !default;
$bp-xl: 1200px !default;
// --------------
